body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}
